{% extends 'home/base.html' %}


{% block content %}
    {% for message in messages %}
        <div class="{{ message.tags }} message alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
        </div>
    {% endfor %}

    <section class="py-5 border-bottom">
        <h1 class="text-center my-5">Add a new Task</h1>
        <div class="container col-6 center-div">
            <form action=" " method="post">  {% csrf_token %} 
                <div class="mb-3 form-group">
                    <label for="title" class="form-label">Task Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="task title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Task Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3" placeholder="details about your task"></textarea>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
{% endblock %}