{% load static %}
{% load base_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% title 'ToDoList' %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'home/assets/favicon.ico'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />
    </head>
    
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                {% if user.is_authenticated %}
                <a class="btn btn-danger mx-3 btn-sm" href="{% url 'logout' %}"> logout </a>
                {% endif %}
                <a class="navbar-brand" href="{% url 'home:home' %}">{% title 'ToDoList' %}</a>

                {% if user.is_authenticated %}
                    {% if user.username %}
                    <span style="color:white"> (Welcome {{user.username}})</span>
                    {% else %}
                    <span style="color:white"> (Welcome)</span>
                    {% endif %}
                {% endif %}
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                            <li class="nav-item">{% link request 'home:add' 'Add a Task'%}</li>
                            <li class="nav-item">{% link request 'home:list' 'TaskList'%}</li>
                        {% else %}
                            {% comment %} <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Home</a></li> {% endcomment %}
                            <li class="nav-item">{% link request 'home:home' 'Home' %}</li>
                        {% endif %}
                            {% comment %} <li class="nav-item"><a class="nav-link" href="#!">About</a></li> {% endcomment %}
                            <li class="nav-item">{% link request 'home:home' 'About'%}</li>

                            {% comment %} <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li> {% endcomment %}
                            <li class="nav-item">{% link request 'home:home' 'Contact'%}</li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header -->
        {% block header %}{% endblock %}
      

        <!-- Content section-->
        {% block content %}{% endblock %}
    

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; {% title 'ToDoList' %} 2021</p></div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'home/js/scripts.js'%}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
