{% extends 'home/base.html' %}


{% block header %}
    <header class="bg-dark py-5 ">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Reach Your Goals</h1>
                        <p class="lead text-white-50 mb-4">make sure that your tasks are written down all in one place so you don't forget anything important</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        {% if not user.is_authenticated %}
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'account:signup' %}">Sign Up</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="{% url 'login' %}">Login</a>
                        {% else %}
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'home:add' %}">Add Task</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="{% url 'home:list' %}">Task List</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-bar-chart-steps"></i></div>
                    <h2 class="h4 fw-bolder">Create Order</h2>
                    <p> if we break down a task into bite-sized and doable chunks, it’s easier to process and get things done.</p>
                    <a class="text-decoration-none" href="{% url 'login' %}">
                        Make a TodoList Now!
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-check2-all"></i></div>
                    <h2 class="h4 fw-bolder">Relieve Your Stress</h2>
                    <p>the act of scratching things off your to-do list releases a substance called dopamine into your brain.</p>
                    <a class="text-decoration-none" href="{% url 'login' %}">
                        Make a TodoList Now!
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-clipboard-check"></i></div>
                    <h2 class="h4 fw-bolder">Create Accountability</h2>
                    <p>It’s powerful because when we do write things down, we create accountability for ourselves</p>
                    <a class="text-decoration-none" href="{% url 'login' %}">
                        Make a TodoList Now!
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



