{% extends "home/base.html" %}

<!-- Bootstrap  -->

{% block title %} list of tasks {% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="{{ message.tags }} message alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <form style="float:right;" action="undo-deletion/{{request.session.pk}}" method="post"> {% csrf_token %}
                <input  type="submit" value="undo" class="btn btn-outline-primary btn-sm">
            </form>
        </div>
    {% endfor %}

    <section class="py-5 border-bottom">
        {% if tasks %}
            <div class="container text-center my-5">
            <h2>List of all your Tasks</h2>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-9">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>                        
                            <th scope="col">Task Title</th>
                            <th scope="col">Task Description</th>
                            <th scope="col">Submit Date</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        {% for task in tasks %}
                            <tbody>
                            <tr>
                                <th scope="row" class="col-md-1">{{ page_obj.start_index|add:forloop.counter0 }}</th>
                                <td>
                                    {% if task.status == 'd' %}
                                        <b><span style="color:green;">&#10003;</span></b>
                                    {% endif %} 
                                </td>
                                <td class="col-md-2">
                                    {% if task.status == 'd' %}
                                        <s> {{ task.title }} </s>
                                    {% else %}
                                        {{ task.title }} 
                                    {% endif %}
                                </td>
                                <td class="col-md-3">
                                 {% if task.status == 'd' %}
                                        <s> {{ task.description|truncatewords:10 }} </s>
                                    {% else %}
                                        {{ task.description|truncatewords:10 }}
                                    {% endif %}
                                </td>
                                <td class="col-md-3">{{ task.create_time|date:"H:i" }} - {{ task.create_time|date:"D d M , Y" }}</td>
                                <td class="col-md-1">
                                    <form action="delete/{{task.id}}" method="post"> {% csrf_token %}
                                        <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                                    </form>
                                </td class="col-md-1">
                                {% if task.status == 'p' %}
                                    <td class="col-md-2">
                                        <form action="task-done/{{task.id}}" method="post"> {% csrf_token %}
                                            <input type="submit" value="Done" class="btn btn-success btn-sm">
                                        </form>
                                    </td>
                                {% endif %}
                                {% if task.status == 'd' %}
                                    <td class="col-md-1">
                                        <form action="task-undone/{{task.id}}" method="post"> {% csrf_token %}
                                            <input type="submit" value="Undone" class="btn btn-warning btn-sm">
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                            </tbody>
                        {% endfor %}
                </table>
                </div>
            </div>

            <!--Pagination-->
            {% if is_paginated %}
                <div class="container p-4">
                    <div class="pagination justify-content-center">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="{% url 'home:list' 1 %}">&laquo; first</a>
                                <a href="{% url 'home:list' page_obj.previous_page_number %}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{page_obj.paginator.num_pages }}
                            </span>

                            {% if page_obj.has_next %}
                                <a href="{% url 'home:list' page_obj.next_page_number %}">next</a>
                                <a href="{% url 'home:list' page_obj.paginator.num_pages%}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            {% endif %} 
            <!--end of Pagination-->

        {% else %}
            <div class="container text-center mt-5">
            <p  style="font-size: 30px;">There is no task, add one from <a href="{% url 'home:add' %}">here.</a></p>
            </div>
        {% endif %}
    </section>   
   


{% endblock %}



