{% load static %}
{% load base_tags %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% title 'Login' %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'registration/login/images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/main.css'%}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
        {% if form.non_field_errors %}
			<div class="errors">
				{% for error in form.non_field_errors %}
					<span>{{error}}</span>
				{% endfor %}
			</div>
		{% endif %}

		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-30 p-b-10">
				<form class="login100-form validate-form" method="post"> {% csrf_token %}
					<span class="login100-form-title p-b-38" style="font-size:24px;">
						Login
					</span>
                    
                    <!-- Username -->
					<label class="txt1"> Username </label>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid Username is required: ex@abc.xyz">
						{{form.username|add_class:"input100"}}
                        
                        {% if form.username.errors %}
							<div class="errors">
								{% for error in form.username.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% endif %}

                        <span class="focus-input100"></span>
						<span class="symbol-input100">
					    <span class="lnr lnr-user"></span>
						</span>
					</div>

                    <!-- Password -->
					<label class="txt1"> Password </label>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						{{form.password|add_class:"input100"}}
                        
						{% if form.password.errors %}
                            <div class="errors">
                                {% for error in form.password.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
						{% endif %}

						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>


					<div class="contact100-form-checkbox m-l-4">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>
					
					<div class="container-login100-form-btn p-t-20">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center w-full p-t-18">
						<div class="text-center w-full p-b-22">
							<a class="txt1 hov1 bo1" href="{%url 'password_reset'%}">
								Forgot Password
							</a>
						</div>
						
						<span class="txt1">
							Not a member?
						</span>

						<a class="txt1 bo1 hov1" href="{% url 'account:signup' %}">
							Sign up now							
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'registration/login/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'registration/login/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/js/main.js'%}"></script>

</body>
</html>