{% load static %}
{% load base_tags %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% title 'SignUp' %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'registration/login/images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/main.css'%}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		{% if form.non_field_errors %}
			<div class="errors">
				{% for error in form.non_field_errors %}
					<span>{{error}}</span>
				{% endfor %}
			</div>
		{% endif %}

		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-30 p-b-30">
				<form class="login100-form validate-form" method="post"> {% csrf_token %}
					<span class="login100-form-title p-b-40">
						Password Reset
					</span>
					

					<!-- Email -->
					<label class="txt1"> Enter your Email to Reset your Password</label>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
						{{form.email|add_class:"input100"}}
						
						{% if form.email.errors %}
							<div class="errors">
								{% for error in form.email.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% endif %}

						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					
					<div class="container-login100-form-btn p-t-20">
						<button class="login100-form-btn">
							Send Password Reset Email
						</button>
					</div>

					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'registration/login/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'registration/login/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/js/main.js'%}"></script>

</body>
</html>