{% load static %}
{% load base_tags %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% title 'SignUp' %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'registration/login/images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/main.css'%}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		{% if form.non_field_errors %}
			<div class="errors">
				{% for error in form.non_field_errors %}
					<span>{{error}}</span>
				{% endfor %}
			</div>
		{% endif %}

		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-30 p-b-30">
				<form class="login100-form validate-form" method="post"> {% csrf_token %}
					<span class="login100-form-title p-b-40">
						SignUp
					</span>
					
					<!-- Username -->
					<label class="txt1"> Username </label>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid Username is required: ex@abc.xyz">
						{{form.username|add_class:"input100"}}
						
						{% if form.username.errors %}
							<div class="errors">
								{% for error in form.username.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% endif %}

						<span class="focus-input100"></span>
						<span class="symbol-input100">
					    <span class="lnr lnr-user"></span>
						</span>
					</div>

					<!-- Email -->
					<label class="txt1"> Email </label>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
						{{form.email|add_class:"input100"}}
						
						{% if form.email.errors %}
							<div class="errors">
								{% for error in form.email.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% endif %}

						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<span class="lnr lnr-envelope"></span>
						</span>
					</div>


					<!-- Password1 -->
					<label class="txt1"> Password </label>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						{{form.password1|add_class:"input100"}}
						
						{% if form.password1.errors %}
							<div class="errors">
								{% for error in form.password1.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% endif %}

						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<span class="lnr lnr-lock"></span>
						</span>
					</div>

					<!-- Password2 -->
					<label class="txt1"> Password Confirmation </label>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						{{form.password2|add_class:"input100"}}
					   
						{% if form.password2.errors %}
							<div class="errors">
								{% for error in form.password2.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% endif %}

						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<span class="lnr lnr-lock"></span>
						</span>
					</div>


					<div class="contact100-form-checkbox m-l-4">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>
					
					<div class="container-login100-form-btn p-t-20">
						<button class="login100-form-btn">
							SignUp
						</button>
					</div>


					<div class="text-center w-full p-t-10">
						<span class="txt1">
							Already a member?
						</span>

						<a class="txt1 bo1 hov1" href="{% url 'login' %}">
							Login						
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'registration/login/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'registration/login/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/login/js/main.js'%}"></script>

</body>
</html>